@font-face {
  font-family: gupterRegular;
  src: url("../assets/fonts/Gupter-Regular.ttf") format("ttf");
}

@font-face {
  font-family: gupterMedium;
  src: url("../assets/fonts/Gupter-Medium.ttf") format("ttf");
}

@font-face {
  font-family: gupterBold;
  src: url("../assets/fonts/Gupter-Bold.ttf") format("ttf");
}
