.PostSection {
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: scroll;

  &__content {
    width: 40%;
    height: 40%;
    margin: 2% 5%;
    border-radius: 4px;
    padding: 3%;
    background-color: lightgrey;
    &-video {
      width: 60%;
      height: 70%;
    }
  }
}
