.PostSection {
  width: 65vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__content {
    width: 40%;
    height: 40%;
    margin: 5%;
    border-radius: 4px;
    padding: 3%;
    background-color: lightgrey;
  }
}
