* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 250, 250);
  font-family: gupterRegular;
}
@import "./partials/breakpoint";
@import "./partials/fonts";
@import "./partials/header";
@import "./partials/community";
@import "./partials/addcomment";
@import "./partials/postsection";
@import "./partials/gifGenerate";
