* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, right top, left top, from(#00ace6), to(white));
  background-image: linear-gradient(-90deg, #00ace6, white);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100vw;
  height: 15vh;
  max-height: 220px;
  min-height: 150px;
  background-color: #323232;
}

.header__logo {
  margin-left: 12.5vw;
  width: 180px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-icon {
  width: 100%;
  height: 100%;
}

.header__community {
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__community-label {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header__recording {
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__recording-label {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header__link {
  margin-left: 5vw;
  margin-right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__link:hover {
  background-color: rgba(82, 75, 75, 0.7);
}

.community {
  height: 83vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.community__seperater {
  color: transparent;
}

.AddComment {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.AddComment__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20vw;
  margin: 1vw;
}

.AddComment__form-upload {
  margin-bottom: 30px;
  height: 300px;
  border: 1px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.AddComment__form-upload--preview {
  width: 80%;
  height: 70%;
}

.AddComment__form-upload--preview--img {
  width: 100%;
  height: 100%;
}

.AddComment__form-upload--button {
  width: 80%;
  height: 20%;
  background: none;
  border: none;
}

.AddComment__form-upload--button:focus {
  outline: none;
}

.AddComment__form-upload--button--icon {
  width: 100%;
  height: 100%;
}

.AddComment__form-input {
  height: 100px;
  padding-left: 2%;
  padding-top: 1%;
}

.AddComment__form-button {
  margin-top: 30px;
  height: 70px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.AddComment__form-button:focus {
  outline: none;
}

.PostSection {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  position: relative;
}

.PostSection__content {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 2% 9%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: start;
}

.PostSection__content-video {
  width: 80%;
  height: 100%;
}

.PostSection__content-img {
  width: 80%;
  height: 100%;
}

.PostSection__content-comment {
  width: 90%;
}

.PostSection__content-name {
  width: 90%;
}

.PostSection__content-commentSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
}

.PostSection__content-commentSection--userInfo {
  width: 100%;
  height: 5%;
  border-bottom: 1px lightgray solid;
  background-color: white;
  border-radius: 0 4px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.PostSection__content-commentSection--userInfo--name {
  width: 80%;
  height: 100%;
}

.PostSection__content-commentSection--userInfo--edit {
  width: 20px;
  height: 25px;
  padding: 1%;
  border: none;
  background-color: transparent;
}

.PostSection__content-commentSection--userInfo--edit--icon {
  width: 100%;
  height: 100%;
}

.PostSection__content-commentSection--userInfo--edit:focus {
  outline: none;
}

.PostSection__content-commentSection--comment {
  width: 100%;
  height: 40%;
  border-top: 1px lightgray solid;
  background-color: white;
  border-radius: 0 0 4px 4px;
}

.PostSection__button-left {
  width: 45px;
  height: 45px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 0%;
  border: none;
  background-color: transparent;
}

.PostSection__button-left:hover {
  background-color: lightgray;
}

.PostSection__button-right {
  width: 45px;
  height: 45px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 0%;
  border: none;
  background-color: transparent;
}

.PostSection__button-right:hover {
  background-color: lightgray;
}

.PostSection__overlay {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  width: 100%;
  height: 100%;
}

.PostSection__overlay-option {
  width: 400px;
  height: 450px;
  background-color: white;
  border-radius: 8px;
  border: 1px white solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.PostSection__overlay-option--delete {
  width: 398px;
  height: 70px;
  border-radius: 8px;
  border: 1px white solid;
  border-bottom: 1px lightgray solid;
}

.PostSection__overlay-option--cancel {
  width: 398px;
  height: 70px;
  border-radius: 8px;
  border: 1px white solid;
  border-top: 1px lightgray solid;
}

.generate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85vh;
  background-image: url("../assets/images/RecordBG.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.generate__overlay {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 90vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.generate__overlay-upload {
  background-color: white;
  width: 40%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.generate__overlay-upload--preview {
  width: 80%;
  height: 50%;
  margin: 1%;
}

.generate__overlay-upload--preview--src {
  width: 100%;
  height: 100%;
  border: lightgrey 1px dotted;
}

.generate__overlay-upload--comment {
  width: 80%;
  height: 35%;
  margin: 1%;
}

.generate__overlay-upload--controls {
  width: 80%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.generate__overlay-upload--controls--upload {
  width: 95px;
  height: 40px;
  background-color: lightblue;
  border-radius: 8px;
  margin: 1%;
}

.generate__overlay-upload--controls--cancel {
  width: 95px;
  height: 40px;
  background-color: lightblue;
  border-radius: 8px;
  margin: 1%;
}

.generate__mid {
  height: 100%;
}

.generate__mid-realtime {
  width: 70vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.generate__mid-realtime--video {
  width: 90%;
  height: 100%;
  border: 1px black solid;
  background-color: lightgray;
  border-radius: 8px 0 8px 8px;
}

.generate__mid-realtime--switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10%;
}

.generate__mid-realtime--switch--screen {
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 0 8px 8px 0;
  margin-left: -2%;
  background-color: lightgray;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  z-index: 3;
}

.generate__mid-realtime--switch--screen--icon {
  width: 50%;
  height: 50%;
}

.generate__mid-realtime--switch--screen:focus {
  outline: none;
}

.generate__mid-realtime--switch--webcam {
  height: 100px;
  width: 95%;
  border-radius: 0 8px 8px 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  margin-top: -50%;
  z-index: 2;
}

.generate__mid-realtime--switch--webcam--icon {
  width: 50%;
  height: 50%;
}

.generate__mid-realtime--switch--webcam:focus {
  outline: none;
}

.generate__mid-realtime--switch--upload {
  height: 100px;
  width: 90%;
  border-radius: 0 8px 8px 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  margin-top: -30%;
  z-index: 1;
}

.generate__mid-realtime--switch--upload--icon {
  width: 50%;
  height: 50%;
}

.generate__mid-realtime--switch--upload:focus {
  outline: none;
}

.generate__mid-preview {
  display: none;
  width: 70vw;
  height: 60vh;
}

.generate__mid-preview--video {
  width: 90%;
  height: 100%;
  border: 1px black solid;
}

.generate__mid-uploadform {
  display: none;
  position: absolute;
  top: 0%;
  left: 28%;
  width: 520px;
}

.generate__mid-uploadform--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1vw;
  width: 90%;
}

.generate__mid-uploadform--form--upload {
  margin-bottom: 30px;
  height: 250px;
  border: 1px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.generate__mid-uploadform--form--upload--preview {
  width: 80%;
  height: 88%;
}

.generate__mid-uploadform--form--upload--preview--img {
  width: 100%;
  height: 100%;
}

.generate__mid-uploadform--form--upload--button {
  width: 80%;
  height: 10%;
  background: none;
  border: none;
}

.generate__mid-uploadform--form--upload--button:focus {
  outline: none;
}

.generate__mid-uploadform--form--upload--input {
  height: 100px;
  padding-left: 2%;
  padding-top: 1%;
  width: 100%;
}

.generate__mid-uploadform--form--upload--submit {
  margin-top: 30px;
  height: 70px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.generate__mid-uploadform--form--upload--submit:focus {
  outline: none;
}

.generate__mid-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 63vw;
  height: 50px;
  margin: 2%;
  color: white;
}

.generate__mid-control--cancel {
  width: 95px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.generate__mid-control--cancel--icon {
  width: 80px;
  height: 80px;
}

.generate__mid-control--cancel:focus {
  outline: none;
}

.generate__mid-control--recordButton {
  width: 95px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.generate__mid-control--recordButton--icon {
  width: 80px;
  height: 80px;
}

.generate__mid-control--recordButton:focus {
  outline: none;
}

.generate__mid-control--start {
  width: 95px;
  height: 40px;
  background-color: lightblue;
  border-radius: 8px;
}

.generate__mid-control--stop {
  width: 95px;
  height: 40px;
  background-color: lightblue;
  border-radius: 8px;
}

.generate__mid-control--upload {
  width: 95px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.generate__mid-control--upload--icon {
  width: 80px;
  height: 80px;
}

.generate__mid-control--upload:focus {
  outline: none;
}
/*# sourceMappingURL=main.css.map */